{{content-app/mens-wear-content}}
{{content-app/tunnel-section-content}}
{{content-app/phone-image-content}}



<div class="container-fluid footer">
	<h5>suscribete a nuestro newsletter |</h5>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi aliquid vitae magnam.
	</p>
	<form>
		{{input type="text"}}
		{{input type="text"}}
		{{input type="text"}}
		{{input type="text"}}
		{{input type="text"}}
		<div>
			<span>
				Acepto terminos y condiciones
			</span>
			<button>
				Suscribirme
			</button>
		</div>
	</form>
	<div class="row">
		Todos los derechos reservados &copy; 2017
	</div>
</div>
{{yield}}