<div class="container images-ctn">
	<div class="row position-relative align-items-center">
		<div class="col-4 o-hidden pants-img offset-2"></div>
		<div class="col-4 o-hidden bike-img"></div>
		<img class="mannequin-img" src="/assets/images/Capa25.png" alt="">
		<img class="mens-wear-img" src="/assets/images/MensWear.png" alt="">
	</div>
</div>

<div class="container-fluid">
	<div class="container pl-0">
		<div class="row offset-2">
			<p class="col pl-0">
				LOREM IPSUM DOLOR SIT AMET     |
			</p>
		</div>
	</div>
</div>

<div class="container-fluid tunnel-section">
	<div class="container">
		<div class="row">
			<p class="col-4 offset-1">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione neque, architecto vitae aut a.
			</p>
			<p class="col-4 offset-2">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quis? Tempora, odit! Sint libero velit cum repellendus numquam adipisci necessitatibus recusandae voluptas nulla mollitia, doloremque ratione molestias quaerat quod ea!
			</p>
		</div>
	</div>
</div>

<div class="container-fluid phone-img-section">
	<div class="container">
		<div class="row justify-content-around">
			<div class="col-4 offset-1">
				<img src="/assets/images/IMG_4836.png" alt="">
			</div>
			<div class="col-4">
				<h5>
					Lorem ipsum dolor sit amet |
				</h5>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, dignissimos modi adipisci architecto veniam sunt vero dolor facilis natus
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid footer">
	<h5>suscribete a nuestro newsletter |</h5>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi aliquid vitae magnam.
	</p>
	<form>
		{{input type="text"}}
		{{input type="text"}}
		{{input type="text"}}
		{{input type="text"}}
		{{input type="text"}}
		<div>
			<span>
				Acepto terminos y condiciones
			</span>
			<button>
				Suscribirme
			</button>
		</div>
	</form>
	<div class="row">
		Todos los derechos reservados &copy; 2017
	</div>
</div>
{{yield}}